<% content_for :head do %>
  <title>Учёт оборудования - История изменения</title>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.HistoryGrid");
  	});
  </script>
<% end %>
<h1>История изменения <strong>Сканер HP G3110</strong></h1>

<ul style="font-size:12pt;line-height:140%;">
	<li>Заводской номер: <strong>CN274AA0N5</strong></li>
	<li>Инвентарный номер: <strong>110134000794</strong></li>
	<li>Количество: <strong>1</strong></li>
	<li>Стоимость: <strong>3625,00 руб.</strong></li>	
</ul>
<br/>
<div id="historygrid"></div>
