<h2>Редактирование <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>Имя пользователя<br />
  <%= f.text_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>Пароль <i>(оставьте пустым, если не хотите менять)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div>Подтверждение пароля<br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div>Текущий пароль <i>(нужен для подтверждения сохраннеия изменений)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Обновить" %></div>
<% end %>

<br/>

<p><%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Уверены?" }, method: :delete %></p>

