

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>Имя пользователя:<br />
  <%= f.text_field :email, autofocus: true %></div>

  <div>Пароль:<br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div>Подтверждение пароля:<br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Зарегистрировать" %></div>
<% end %>

<%= render "devise/shared/links" %>
