<% content_for :head do %>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.Items.Writeoff");
  	});
  </script>
  <title>Оборудование &rarr; списанные элементы</title>
<% end %>

<div id="writeoff"></div>
