<% content_for :head do %>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.Search.Main");
  	});
  </script>
  <title>Поиск &rarr; общий поиск</title>
<% end %>

<div id="search"></div>
