<% content_for :head do %>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.BundleChecks.Container");
  	});
  </script>
  <title>Оборудование &rarr; проверка</title>
<% end %>

<div id="bundleChecks"></div>
