<% content_for :head do %>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.ExternalUsers.Main", "students");  		
  	});
  </script>
<% end %>


<div id="externalUsers"></div>