/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *




 */

body {
	margin: 0;
	padding: 0;
	background: #f5f5f5;
	font: normal small Helvetica, Arial, sans-serif;
	color: #999999;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #666666;
}

.labelHeader {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16pt;
	color: #666666;
}
.strongText {
	font-weight: bold;
}

a {
	color: #333333;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

/* Menu */
#menu {
	width: 704px;
	height: 62px;
	margin: 0px 0px 0px 50px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 140px;
	height: 41px;
	margin-left: 1px;
	padding-top: 10px;
	border-top-width: 10px;
	border-top-style: solid;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	letter-spacing: -1px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
}

#menu .first a {
	margin: 0;
}

#menu1 { background: url('img01.gif') no-repeat center bottom; border-color: #F07242; color: #C4856D; }
#menu2 { background: url("img02.gif") no-repeat center bottom; border-color: #FCEE0F; color: #C0B94A; }
#menu3 { background: url("img03.gif") no-repeat center bottom; border-color: #549EE9; color: #799EC3; }
#menu4 { background: url("img04.gif") no-repeat center bottom; border-color: #9EBF54; color: #94A46F; }
#menu5 { background: url("img05.gif") no-repeat center bottom; border-color: #9F8DF6; color: #B0A7DB; }

#menu a:hover {
	color: #000000;
}

/* Logo */

#logo {
	width: 220px;
	height: 256px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0 0 0;
	background: url('globe.png') no-repeat;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF; /*595959*/
}

#logo h3 {
	margin:235px 10px 0 10px;
	text-align: right;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Content */

#content {
	margin: 0px 50px 0px 50px;
	min-width: 815px;
}

#colA {	
	padding: 15px;
	margin: 0px 0px 0px 225px;
	background: #FFFFFF;
	min-height: 1130px;
}

#colB {
	float: left;
	width: 220px;
}

/* BoxedA */

.boxedA {
}

.boxedA h2 {
	height: 35px;
	padding-top: 25px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 2em;
}

.boxedA h3 {
	font-size: 1em;
	font-weight: bold;
}

.boxedA p {
	line-height: 2em;
	text-align: justify;
}

.boxedA .more {
	text-align: right;
}

.boxedA .more a {
	padding: 0 1em;
	background: #CCCCCC;
	border-left: 4px solid #666666;
	text-decoration: none;
}

.boxedA .more a:hover {
	background: #666666;
	color: #FFFFFF
}

/* News */

#news {
}

#news h2 {
	font-size: 22px;
}

#news ul {
	list-style-type: square;
}

/* Footer */

#footer {
	clear: both;
	/*width: 220px;*/
	margin: 0px 50px 0px 50px;
	border-top: 1px solid #666666;
	background: #CCCCCC;
}

#footer p {
	margin: 0;
	padding: 30px 0;
	text-align: center;
	color: #999999;
}

#footer a {
	color: #999999;
}

/* *** logonscreen *** */
#logonscreen {
	width: 1000px;
	height: 577px;
	background: url("logonscreen.png") no-repeat;
}

.logonInput{
	height: 30px;
	font-size: 20pt;
	font-family: Helvetica, Arial;
	color: #666666;	
}

#login {
	background: url("logonscreenSubmit.png") no-repeat;	
	height: 86px;
	width: 436px;
	border: 0px;
}
.x-grid-cell-inner {
	white-space: normal !important;
}

.x-grid-row.highlight .x-grid-td {
    background-color: LightSalmon;
}

/* ==> для корректного рассчёта ширина tooltip ==> */
.x-tip {
    width: auto !important;
}
.x-tip-body {
    width: auto !important;
}
.x-tip-body span {
    width: auto !important;
}
/* <== для корректного рассчёта ширина tooltip <== */

/* ==> для кнопок редактирования в таблице ==> */
.icon-add {
    background-image: url(icons/file_add.png);
}
.icon-edit {
	background-image: url(icons/file_edit.png);
}
.icon-delete {
	background-image: url(icons/file_delete.png);
}
.icon-history {
	background-image: url(icons/history.png);
}
.icon-clear {
	background-image: url(icons/clear.png);
}
.icon-print {
	background-image: url(icons/print.png);
}
.icon-xls {
	background-image: url(icons/excel.png);
}

.icon-index-up {
	background-image: url(icons/arrow_up.png);
}
.icon-index-down {
	background-image: url(icons/arrow_down.png);
}

.iconCategory1,.iconCategory2,.iconCategory3,.iconCategory4,.iconCategory5   {
    margin-left: 34px;
    width: 16px;
    height: 16px;
}
.iconCategory1 {
	background-image: url(icons/category1.png);	
}
.iconCategory2 {
	background-image: url(icons/category2.png);	
}
.iconCategory3 {
	background-image: url(icons/category3.png);	
}
.iconCategory4 {
	background-image: url(icons/category4.png);	
}
.iconCategory5 {
	background-image: url(icons/category4.png);	
}
/* <== для корректного рассчёта ширина tooltip <== */

.highlight {
	background-color: yellow;
}

.leftMenu {
	margin-bottom: 1px;
	background: #CBE2F8 url('img11.gif') repeat-y;
	border-bottom: 1px solid #549EE9;
}

.leftMenu h2 {
	height: 35px;
	padding: 25px 0 0 21px;
	border-bottom: 1px solid #FFFFFF;
	letter-spacing: -1px;
	font-size: 24px;
	font-weight: normal;
	color: #549EE9;
}

.leftMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.leftMenu li {
	display: inline;
}

.leftMenu a {
	display: block;
	width: 199px;
	height: 23px;
	padding: 7px 0 0 21px;
	background: #EEF5FD url('img12.gif') no-repeat;
	border-bottom: 1px solid #FFFFFF;
	text-decoration: none;
	color: #549EE9;
}

.leftMenu a:hover {
	background: #A9CEF4 url('img13.gif') no-repeat;
	color: #FFFFFF;
}
.leftMenu .shortlink {
	/*width: 170px;*/
	/*float: left;*/
}
.warnInfo {
	width: 20px;
	height: 0px;
	position:relative; 
	left:195px;
	top: -23px;
	color:red; 
	z-index:2
}
/***  yellow  ***/
.yellow {
	background: #fefab7 url('imgLeftMenuYellow.gif') repeat-y;		
	border-bottom: 1px solid #FCEE0F;
}

.yellow h2{
	color: #848484;
}
.yellow a{
	background: #fffee6 url('imgLeftMenuYellow.gif') repeat-y;	
	color: #848484;
}

.yellow a:hover{
	background: #FCEE0F url('imgLeftMenuYellowMarker.gif') repeat-y;	
	color: black;
}
/***  Green  ***/
.green {
	background: #E2ECCB url('imgLeftMenuGreen.gif') repeat-y;		
	border-bottom: 1px solid #99cc66;
}

.green h2{
	color: #94A46F;
}
.green a{
	background: #f9ffec url('imgLeftMenuGreen.gif') repeat-y;	
	color: #94A46F;
}

.green a:hover{
	background: #99cc66 url('imgLeftMenuGreenMarker.gif') repeat-y;	
	color: #FFFFFF;
}
/***  Lilac  ***/
.lilac {
	background: #E2DDFC url('imgLeftMenuLilac.gif') repeat-y;		
	border-bottom: 1px solid #9F8DF6;
}

.lilac h2{
	color: #988dcd;
}
.lilac a{
	background: #eeebff url('imgLeftMenuLilac.gif') repeat-y;	
	color: #988dcd;
}

.lilac a:hover{
	background: #9F8DF6 url('imgLeftMenuLilacMarker.gif') repeat-y;	
	color: #FFFFFF;
}

/***  red  ***/
.red {
	background: #FAD4C6 url('imgLeftMenuRed.gif') repeat-y;
	border-bottom: 1px solid #F07242;
}

.red h2{
	color: #F07242;
}
.red a{
	background: #FDF1EC url('imgLeftMenuRed.gif') repeat-y;	
	color: #F07242;
}

.red a:hover{
	background: #F7B8A0 url('imgLeftMenuRedMarker.gif') repeat-y;	
	color: #FFFFFF;
}

/***  blue  ***/
.blue {
	background: #CBE2F8 url('imgLeftMenuBlue.gif') repeat-y;
	border-bottom: 1px solid #549EE9;
}

.blue h1 {

}

.blue h2{
	color: #549EE9;
}
.blue a{
	background: #EEF5FD url('imgLeftMenuBlue.gif') repeat-y;	
	color: #549EE9;
}

.blue a:hover{
	background: #A9CEF4 url('imgLeftMenuBlueMarker.gif') repeat-y;	
	color: #FFFFFF;
}

.pageTitleBlue {
	border-top: 10px solid #A9CEF4;
	background: #CBE2F8;
	display: block;
	margin: 0px 50px 0px 50px;
	padding: 30px 0px 0px 15px;
	height: 50px;	
	border-bottom: 1px solid #549EE9;
	min-width: 800px;
}

.pageTitleBlue h1 {
	color: #549EE9;
	font-size: 32pt;
}

.pageTitleGreen {
	border-top: 10px solid #99CC66;
	background: #e2eccb;
	display: block;
	margin: 0px 50px 0px 50px;
	padding: 30px 0px 0px 15px;
	height: 50px;	
	border-bottom: 1px solid #94A46F;
}

.pageTitleGreen h1 {
	color: #94A46F;
	font-size: 32pt;
}

.pageTitleRed {
	border-top: 10px solid #F7B8A0;
	background: #FAD4C6;
	display: block;
	margin: 0px 50px 0px 50px;
	padding: 30px 0px 0px 15px;
	height: 50px;	
	border-bottom: 1px solid #F07242;
}

.pageTitleRed h1 {
	color: #F07242;
	font-size: 32pt;
}

.pageTitleYellow {
	border-top: 10px solid #FCEE0F;
	background: #fefab7;
	display: block;
	margin: 0px 50px 0px 50px;
	padding: 30px 0px 0px 15px;
	height: 50px;	
	border-bottom: 1px solid #848484;
}

.pageTitleYellow h1 {
	color: #848484;
	font-size: 32pt;
}

.pageTitleLilac {
	border-top: 10px solid #9F8DF6;
	background: #E2DDFC;
	display: block;
	margin: 0px 50px 0px 50px;
	padding: 30px 0px 0px 15px;
	height: 50px;	
	border-bottom: 1px solid #988dcd;
}

.pageTitleLilac h1 {
	color: #988dcd;
	font-size: 32pt;
}

.registerlink {
	/*border: 1px solid;*/
	text-align: right;
	width: 98%;
	margin: 0;
	padding: 0 0px 20px 0;
}
.registerlink a {
	color: white;	
	/*text-align: left;*/
	text-decoration: none;
}
.registerlink a:hover{
	color: white;	
	/*text-align: left;*/
	text-decoration: underline;
}
@import '../ext-theme-neptune/ext-theme-neptune-all.css';
.ext-ux-clearbutton {
    width: 12px;
    height: 12px;
    background-image: url('clear-text-icon.gif');
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow:  hidden; /* IE 6 :-( */
    margin-top: 4px;
    background-color: white;
}

.ext-ux-clearbutton-mouse-over-input {
    background-position: 0 -12px;
}

.ext-ux-clearbutton-mouse-over-button {
    background-position: 0 -24px;
}

.ext-ux-clearbutton-mouse-down {
    background-position: 0 -36px;
}

.ext-ux-clearbutton-on {
    opacity: 1;
    visibility: visible;
    transition: opacity .35s linear;
    -webkit-transition: opacity .35s linear;
    -moz-transition: opacity .35s linear;
    -o-transition: opacity .35s linear;
    -ms-transition: opacity .35s linear;
    -khtml-transition: opacity .35s linear;
}

.ext-ux-clearbutton-off {
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s linear, visibility .0s linear .35s;
    -webkit-transition: opacity .35s linear, visibility .0s linear .35s;
    -moz-transition: opacity .35s linear, visibility .0s linear .35s;
    -o-transition: opacity .35s linear, visibility .0s linear .35s;
    -ms-transition: opacity .35s linear, visibility .0s linear .35s;
    -khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}

