<% content_for :head do %>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.Repairs.Main");
  	});
  </script>
  <title>Оборудование &rarr; в ремонте</title>
<% end %>

<div id="repairs"></div>
