<h1>Bundlehistory#index</h1>


<table>
  <% @bundles.each do |b| %>
    <tr>
      <td><%= b.id %></td>
      <td><%= b.location_id %></td>
    </tr>
  <% end %>
 </table>


<hr/>

<table>
  <% @events.each do |b| %>
    <tr>
      <td><%= b.id %></td>
      <td><%= b.name %></td>
    </tr>
  <% end %>
 </table>

 <table>
  <% @bandlehistory.each do |b| %>
    <tr>
      <td><%= b.id %></td>
      <td><%= b.bundle.id if b.bundle %></td>
      <td><%= b.event.name %></td>
      <td><%= b.before %></td>
      <td><%= b.after %></td>
      <td><%= b.username %></td>
      <td><%= b.created_at %></td>
    </tr>
  <% end %>
 </table>

 
 