<% content_for :head do %>
  <title>Учёт оборудования</title>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.TestItems");
  	});
  </script>
<% end %>

<div id="ex0"></div>
<div id="itemsblock">
</div>