<% content_for :head do %>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.TemporaryUses.Main");
  	});
  </script>
  <title>Пользователи &rarr; временное использование</title>
<% end %>

<div id="temporaryUses"></div>
