<% content_for :head do %>
  <script type="text/javascript">
	$(function(){   
		$("#logonscreen").lightbox_me({
			centered: true,
			closeClick: false,
			closeEsc: false
			// closeSelector: "#login"
			});
	});
  </script>
	<script type="text/javascript">
		$(window).load(function () {
			setFocus("logonInput");
		});  	
	</script>
<% end %>

<div id="logonscreen">
	<div style="margin:255px 0 0 50px;">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>		
  			<%= f.text_field :email, id: "logonInput", autofocus: true, class: "logonInput" %><br/><br/><br/><br/><br/><br/>
    		<%= f.password_field :password, autocomplete: "off", class: "logonInput" %><br/><br/><br/><br/>
			<%= f.submit  id: "login", value:"" %>
		<% end %>
	</div>
	<p class="registerlink">
		<%= link_to "Регистрация", "/users/sign_up", 'data-no-turbolink' => true %>
	</p>
</div>

