<% content_for :head do %>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.Items.OutsideBundle", "outsideBundle");
  	});
  </script>
  <title>Оборудование &rarr; вне комплекта</title>
<% end %>

<div id="outsideBundle"></div>
