<% content_for :head do %>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.BundlesMain");
    //    Ext.create("EQ.view.Bundles");
      // itemsGrid = Ext.create("EQ.view.Items");            
      // Ext.create("EQ.view.Items");            
  	});
  </script>
  <title>Оборудование &rarr; комплекты</title>
<% end %>

<div id="bundlesContainer1"></div>
<div id="bundlesGrid1"></div>
<br/>
<div id="itemsGrid1"></div>
