body {
	margin: 0;
	padding: 0;
	background: #f5f5f5;
	font: normal small Helvetica, Arial, sans-serif;
	color: #999999;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #666666;
}

.labelHeader {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16pt;
	color: #666666;
}
.strongText {
	font-weight: bold;
}

a {
	color: #333333;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

/* Menu */
#menu {
	width: 704px;
	height: 62px;
	margin: 0px 0px 0px 50px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 140px;
	height: 41px;
	margin-left: 1px;
	padding-top: 10px;
	border-top-width: 10px;
	border-top-style: solid;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	letter-spacing: -1px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
}

#menu .first a {
	margin: 0;
}

#menu1 { background: url('img01.gif') no-repeat center bottom; border-color: #F07242; color: #C4856D; }
#menu2 { background: url("img02.gif") no-repeat center bottom; border-color: #FCEE0F; color: #C0B94A; }
#menu3 { background: url("img03.gif") no-repeat center bottom; border-color: #549EE9; color: #799EC3; }
#menu4 { background: url("img04.gif") no-repeat center bottom; border-color: #9EBF54; color: #94A46F; }
#menu5 { background: url("img05.gif") no-repeat center bottom; border-color: #9F8DF6; color: #B0A7DB; }

#menu a:hover {
	color: #000000;
}

/* Logo */

#logo {
	width: 220px;
	height: 256px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0 0 0;
	background: url('globe.png') no-repeat;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF; /*595959*/
}

#logo h3 {
	margin:235px 10px 0 10px;
	text-align: right;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Content */

#content {
	margin: 0px 50px 0px 50px;
	min-width: 815px;
}

#colA {	
	padding: 15px;
	margin: 0px 0px 0px 225px;
	background: #FFFFFF;
	min-height: 1130px;
}

#colB {
	float: left;
	width: 220px;
}

/* BoxedA */

.boxedA {
}

.boxedA h2 {
	height: 35px;
	padding-top: 25px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 2em;
}

.boxedA h3 {
	font-size: 1em;
	font-weight: bold;
}

.boxedA p {
	line-height: 2em;
	text-align: justify;
}

.boxedA .more {
	text-align: right;
}

.boxedA .more a {
	padding: 0 1em;
	background: #CCCCCC;
	border-left: 4px solid #666666;
	text-decoration: none;
}

.boxedA .more a:hover {
	background: #666666;
	color: #FFFFFF
}

/* News */

#news {
}

#news h2 {
	font-size: 22px;
}

#news ul {
	list-style-type: square;
}

/* Footer */

#footer {
	clear: both;
	/*width: 220px;*/
	margin: 0px 50px 0px 50px;
	border-top: 1px solid #666666;
	background: #CCCCCC;
}

#footer p {
	margin: 0;
	padding: 30px 0;
	text-align: center;
	color: #999999;
}

#footer a {
	color: #999999;
}

/* *** logonscreen *** */
#logonscreen {
	width: 1000px;
	height: 577px;
	background: url("logonscreen.png") no-repeat;
}

.logonInput{
	height: 30px;
	font-size: 20pt;
	font-family: Helvetica, Arial;
	color: #666666;	
}

#login {
	background: url("logonscreenSubmit.png") no-repeat;	
	height: 86px;
	width: 436px;
	border: 0px;
}
.x-grid-cell-inner {
	white-space: normal !important;
}

.x-grid-row.highlight .x-grid-td {
    background-color: LightSalmon;
}

/* ==> для корректного рассчёта ширина tooltip ==> */
.x-tip {
    width: auto !important;
}
.x-tip-body {
    width: auto !important;
}
.x-tip-body span {
    width: auto !important;
}
/* <== для корректного рассчёта ширина tooltip <== */

/* ==> для кнопок редактирования в таблице ==> */
.icon-add {
    background-image: url(icons/file_add.png);
}
.icon-edit {
	background-image: url(icons/file_edit.png);
}
.icon-delete {
	background-image: url(icons/file_delete.png);
}
.icon-history {
	background-image: url(icons/history.png);
}
.icon-clear {
	background-image: url(icons/clear.png);
}
.icon-print {
	background-image: url(icons/print.png);
}
.icon-xls {
	background-image: url(icons/excel.png);
}

.icon-index-up {
	background-image: url(icons/arrow_up.png);
}
.icon-index-down {
	background-image: url(icons/arrow_down.png);
}

.iconCategory1,.iconCategory2,.iconCategory3,.iconCategory4,.iconCategory5   {
    margin-left: 34px;
    width: 16px;
    height: 16px;
}
.iconCategory1 {
	background-image: url(icons/category1.png);	
}
.iconCategory2 {
	background-image: url(icons/category2.png);	
}
.iconCategory3 {
	background-image: url(icons/category3.png);	
}
.iconCategory4 {
	background-image: url(icons/category4.png);	
}
.iconCategory5 {
	background-image: url(icons/category4.png);	
}
/* <== для корректного рассчёта ширина tooltip <== */

.highlight {
	background-color: yellow;
}