
.leftMenu {
	margin-bottom: 1px;
	background: #CBE2F8 url('img11.gif') repeat-y;
	border-bottom: 1px solid #549EE9;
}

.leftMenu h2 {
	height: 35px;
	padding: 25px 0 0 21px;
	border-bottom: 1px solid #FFFFFF;
	letter-spacing: -1px;
	font-size: 24px;
	font-weight: normal;
	color: #549EE9;
}

.leftMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.leftMenu li {
	display: inline;
}

.leftMenu a {
	display: block;
	width: 199px;
	height: 23px;
	padding: 7px 0 0 21px;
	background: #EEF5FD url('img12.gif') no-repeat;
	border-bottom: 1px solid #FFFFFF;
	text-decoration: none;
	color: #549EE9;
}

.leftMenu a:hover {
	background: #A9CEF4 url('img13.gif') no-repeat;
	color: #FFFFFF;
}
.leftMenu .shortlink {
	/*width: 170px;*/
	/*float: left;*/
}
.warnInfo {
	width: 20px;
	height: 0px;
	position:relative; 
	left:195px;
	top: -23px;
	color:red; 
	z-index:2
}
/***  yellow  ***/
.yellow {
	background: #fefab7 url('imgLeftMenuYellow.gif') repeat-y;		
	border-bottom: 1px solid #FCEE0F;
}

.yellow h2{
	color: #848484;
}
.yellow a{
	background: #fffee6 url('imgLeftMenuYellow.gif') repeat-y;	
	color: #848484;
}

.yellow a:hover{
	background: #FCEE0F url('imgLeftMenuYellowMarker.gif') repeat-y;	
	color: black;
}
/***  Green  ***/
.green {
	background: #E2ECCB url('imgLeftMenuGreen.gif') repeat-y;		
	border-bottom: 1px solid #99cc66;
}

.green h2{
	color: #94A46F;
}
.green a{
	background: #f9ffec url('imgLeftMenuGreen.gif') repeat-y;	
	color: #94A46F;
}

.green a:hover{
	background: #99cc66 url('imgLeftMenuGreenMarker.gif') repeat-y;	
	color: #FFFFFF;
}
/***  Lilac  ***/
.lilac {
	background: #E2DDFC url('imgLeftMenuLilac.gif') repeat-y;		
	border-bottom: 1px solid #9F8DF6;
}

.lilac h2{
	color: #988dcd;
}
.lilac a{
	background: #eeebff url('imgLeftMenuLilac.gif') repeat-y;	
	color: #988dcd;
}

.lilac a:hover{
	background: #9F8DF6 url('imgLeftMenuLilacMarker.gif') repeat-y;	
	color: #FFFFFF;
}

/***  red  ***/
.red {
	background: #FAD4C6 url('imgLeftMenuRed.gif') repeat-y;
	border-bottom: 1px solid #F07242;
}

.red h2{
	color: #F07242;
}
.red a{
	background: #FDF1EC url('imgLeftMenuRed.gif') repeat-y;	
	color: #F07242;
}

.red a:hover{
	background: #F7B8A0 url('imgLeftMenuRedMarker.gif') repeat-y;	
	color: #FFFFFF;
}

/***  blue  ***/
.blue {
	background: #CBE2F8 url('imgLeftMenuBlue.gif') repeat-y;
	border-bottom: 1px solid #549EE9;
}

.blue h1 {

}

.blue h2{
	color: #549EE9;
}
.blue a{
	background: #EEF5FD url('imgLeftMenuBlue.gif') repeat-y;	
	color: #549EE9;
}

.blue a:hover{
	background: #A9CEF4 url('imgLeftMenuBlueMarker.gif') repeat-y;	
	color: #FFFFFF;
}

.pageTitleBlue {
	border-top: 10px solid #A9CEF4;
	background: #CBE2F8;
	display: block;
	margin: 0px 50px 0px 50px;
	padding: 30px 0px 0px 15px;
	height: 50px;	
	border-bottom: 1px solid #549EE9;
	min-width: 800px;
}

.pageTitleBlue h1 {
	color: #549EE9;
	font-size: 32pt;
}

.pageTitleGreen {
	border-top: 10px solid #99CC66;
	background: #e2eccb;
	display: block;
	margin: 0px 50px 0px 50px;
	padding: 30px 0px 0px 15px;
	height: 50px;	
	border-bottom: 1px solid #94A46F;
}

.pageTitleGreen h1 {
	color: #94A46F;
	font-size: 32pt;
}

.pageTitleRed {
	border-top: 10px solid #F7B8A0;
	background: #FAD4C6;
	display: block;
	margin: 0px 50px 0px 50px;
	padding: 30px 0px 0px 15px;
	height: 50px;	
	border-bottom: 1px solid #F07242;
}

.pageTitleRed h1 {
	color: #F07242;
	font-size: 32pt;
}

.pageTitleYellow {
	border-top: 10px solid #FCEE0F;
	background: #fefab7;
	display: block;
	margin: 0px 50px 0px 50px;
	padding: 30px 0px 0px 15px;
	height: 50px;	
	border-bottom: 1px solid #848484;
}

.pageTitleYellow h1 {
	color: #848484;
	font-size: 32pt;
}

.pageTitleLilac {
	border-top: 10px solid #9F8DF6;
	background: #E2DDFC;
	display: block;
	margin: 0px 50px 0px 50px;
	padding: 30px 0px 0px 15px;
	height: 50px;	
	border-bottom: 1px solid #988dcd;
}

.pageTitleLilac h1 {
	color: #988dcd;
	font-size: 32pt;
}

.registerlink {
	/*border: 1px solid;*/
	text-align: right;
	width: 98%;
	margin: 0;
	padding: 0 0px 20px 0;
}
.registerlink a {
	color: white;	
	/*text-align: left;*/
	text-decoration: none;
}
.registerlink a:hover{
	color: white;	
	/*text-align: left;*/
	text-decoration: underline;
}