<% content_for :head do %>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.Items.Warehouse");
  	});
  </script>
  <title>Оборудование &rarr; на складе</title>
<% end %>

<div id="warehouse"></div>
