<% content_for :head do %>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.InternalUsers.Main");  		
  	});
  </script>
<% end %>


<div id="internalUsers"></div>