<% content_for :head do %>
  <script type="text/javascript">
  	Ext.onReady(function () {
  		Ext.create("EQ.view.Bundles");
  	});
    Ext.onReady(function () {
      itemsGrid = Ext.create("EQ.view.Items");            
    });

  </script>
  

<% end %>

<h1>Testbundle#index</h1>
<p>Find me in app/views/testbundle/index.html.erb</p>
<div id="twoTablesGrid"></div>
<div id="bundlesGrid"></div>
<br/>
<div id="itemsGrid"></div>
<br/>
<hr/>
<table>
<% @bundles.each do |b| %>
    <tr>
      <td><%= b.title %></td>
      <td><%= b.note %></td>
      <td><%= b.id %></td>
    </tr>
  <% end %>
  </table>
  <table>
<% @items.each do |b| %>
    <tr>
      <td><%= b.title %></td>
      <td><%= b.bundle.id %></td>
      <td><%= b.id %></td>
      <td><%= b.bundle.title %></td>
    </tr>
  <% end %>
  </table>