<div class="<%= sectionStyle %>">
	<div style="float:left;"><h1><%= section %> &rarr; <%= title %></h1></div>
	<div style="float:right; margin-top:-15px; width:250px;"><img style="float:left;margin:-10px 10px 0px 0;" height="40"; src="/assets/logo.png" /><h2>Учёт оборудования</h2></div>
</div>