<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<script type="text/javascript">
Ext.Ajax.extraParams = { authenticity_token: "<%= form_authenticity_token %>" };
</script>
  <%= favicon_link_tag 'logo.ico' %>
  <!-- <link rel="icon" type="image/png" href="/app/assets/images/logo.ico" /> -->
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "pageTitle" %>

<div id="content">	
	<div id="colB">
		<div id="logo">
			<h3><% if user_signed_in? %><a href="/users/edit">&#9998;&nbsp;<%= current_user.email %></a><% end %></h3>
		</div>

		<div class="leftMenu blue">
			<h2>Поиск</h2>
			<ul>
				<li><%= link_to "Общий", "/search/index", 'data-no-turbolink' => true %></li>
				<!-- <li><a href="#">По пользователям</a></li>
				<li><a href="#">По комплекту</a></li> -->
				<!-- <li><a href="#">По договору</a></li>
				<li><a href="#">По оборудованию</a></li> -->
			</ul>
		</div>
		<div class="leftMenu red">
			<h2>Пользователи</h2>
			<ul>
				<li><%= link_to "Все пользователи", "/externalusers/index" %></li>
				<li><%= link_to "Преподаватели", "/teachers/index", 'data-no-turbolink' => true %></li>
				<li><%= link_to "Ученики", "/students/index", 'data-no-turbolink' => true %></li>
				<li><%= link_to "Внутреннее использование", "/internalusers/index", 'data-no-turbolink' => true %></li>
				<li><%= link_to "Временное использование", "/temporary_use/index", 'data-no-turbolink' => true %></li>
			</ul>
		</div>
		<div class="leftMenu green">
			<h2>Оборудование</h2>
			<ul>
				<li><%= link_to "Комплекты", "/bundles/index", 'data-no-turbolink' => true %></li>
				<li><%= link_to "Вне комплекта", "/items/index", 'data-no-turbolink' => true %></li>
				<li><%= link_to "Склад", "/warehouse/index", 'data-no-turbolink' => true %></li>
				<li><%= link_to "Ремонт", "/repair/index", :class => 'shortlink', 'data-no-turbolink' => true %><%= repairWarnings %></li>
				<li><%= link_to "Списание", "/writeoff/index", 'data-no-turbolink' => true %></li>
				<li><%= link_to "Проверка оборудования", "/bundle_check/index", 'data-no-turbolink' => true %></li>
			</ul>
		</div>
		<div class="leftMenu yellow">
			<h2>Отчёты</h2>
			<ul>
				<li><a href="#">В разрезе пользователей</a></li>
				<li><a href="#">В разрезе комплектов</a></li>
			</ul>
		</div>
		<div class="leftMenu lilac">
			<h2>Настройки</h2>
			<ul>
				<li><%= link_to "Реквизиты", "#", 'data-no-turbolink' => true %></li>
				<li><%= link_to "Профиль", "/users/edit", 'data-no-turbolink' => true %></li>
				<li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete, 'data-no-turbolink' => true %></li>
			</ul>
		</div>
		
	</div>
	<div id="colA">		
		<%= yield %>
	</div>
	
	
	
</div>
<div id="footer">
	<p>&copy; <%= copyright %>. <a href="mailto:me@mvch.ru">Поддержка</a>. 
		Версия <a href="/version.html" target="_blank"><%= appVersion %></a>
	</p>

</div>
</body>
</html>
